<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <patcher>
            <general>
                <enabled>0</enabled>
            </general>
            <settings>
                <notify_before>0</notify_before>
                <automatic>0</automatic>
                <notify_after>0</notify_after>
            </settings>
        </patcher>
    </default>
</config>
