<?xml version="1.0"?>
<!--
/**
* @author     Osiozekhai Aliu
* @package    Osio_MagentoAutoPatch
* @copyright  Copyright (c) 2024 Osio
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- comand list -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="patch_update" xsi:type="object">Osio\MagentoAutoPatch\Console\UpdatePatches</item>
            </argument>
        </arguments>
    </type>

    <!-- Looger -->
    <type name="Osio\MagentoAutoPatch\Model\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Osio\MagentoAutoPatch\Model\Logger\Log">
        <arguments>
            <argument name="name" xsi:type="string">PatchLog</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Osio\MagentoAutoPatch\Model\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <!-- di for Magento\Framework\Mail\Template\TransportBuilder -->
    <preference for="Magento\Framework\Mail\Template\TransportBuilder"
                type="Osio\MagentoAutoPatch\Model\Notifier\TransportBuilder"/>
</config>
