<?xml version="1.0"?>
<!--
/**
* @author     Osiozekhai Aliu
* @package    Osio_MagentoAutoPatch
* @copyright  Copyright (c) 2024 Osio
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="osio" translate="label" sortOrder="100">
            <label>Osio</label>
        </tab>
        <section id="autopatch" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Auto Patch</label>
            <tab>osio</tab>
            <resource>Osio_MagentoAutoPatch::config</resource>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Configuration</label>
                <attribute type="expanded">1</attribute>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <comment>Enable or disable the auto-patching system.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="settings" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                   showInStore="1" advanced="false">
                <depends>
                    <field id="autopatch/general/enabled">1</field>
                </depends>
                <label>Settings</label>
                <attribute type="expanded">1</attribute>
                <field id="notify_before" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Send new patch notification mail</label>
                    <comment>Receive an email notification without applying a new patch.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="automatic" translate="label" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Update automatically</label>
                    <comment>If enabled, the patch will be applied automatically.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="notify_after" translate="label" type="select" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Send notification mail after update</label>
                    <comment>You will receive an email about the patch process. On Failure the auto-patch.log will be
                        attached to the E-Mail
                    </comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="autopatch/settings/automatic">1</field>
                    </depends>
                </field>
            </group>
            <group id="notification_before" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                   showInStore="1" advanced="false">
                <depends>
                    <field id="autopatch/settings/notify_before">1</field>
                </depends>
                <label>Notification New patch</label>
                <attribute type="expanded">1</attribute>
                <field id="email" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>E-Mail: </label>
                    <validate>required-entry validate-email</validate>
                    <frontend_class>validate-email</frontend_class>
                </field>
            </group>
            <group id="notification_after" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1"
                   showInStore="1" advanced="false">
                <depends>
                    <field id="autopatch/settings/notify_after">1</field>
                </depends>
                <label>Notification after patching</label>
                <attribute type="expanded">1</attribute>
                <field id="email" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>E-Mail: </label>
                    <validate>required-entry validate-email</validate>
                    <frontend_class>validate-email</frontend_class>
                </field>
            </group>
        </section>
    </system>
</config>
